# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
*.[56789ao]
*.a[56789o]
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
.*.swp
main
app
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go
server.key
server.crt